<div class="container"
     fxLayout="column"
     fxLayoutGap="1em"
     fxFlex="80"
     fxFlexOffset="10"
     fxFlex.lt-sm="90"
     fxFlexOffset.lt-sm="5">

  <mat-card fxLayout="column">

    <mat-card-content>
      <mat-card-content>
        <app-create-event-form [trophyHash]="trophyHash"
                               [groupHash]="groupHash"
                               [locationHash]="locationHash"
                               (onEventCreated)="addEvent($event)">
        </app-create-event-form>
      </mat-card-content>
    </mat-card-content>

  </mat-card>

  <app-loader [isLoading]="isLoading" size="1.5"></app-loader>

  <div fxLayout="column" [fxShow]="!isLoading">

    <mat-form-field fxFlex="100">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table fxFlex="100" mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="hash">
        <th mat-header-cell *matHeaderCellDef translate>Hash</th>
        <td mat-cell *matCellDef="let event">{{event.hash}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef translate>Title</th>
        <td mat-cell *matCellDef="let event">{{event.title}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef translate>Description</th>
        <td mat-cell *matCellDef="let event">{{event.description}}</td>
      </ng-container>

      <ng-container matColumnDef="startDay">
        <th mat-header-cell *matHeaderCellDef translate>Start</th>
        <td mat-cell *matCellDef="let event">
          {{event.start.format('MMMM Do YYYY, h:mm')}}
        </td>
      </ng-container>

      <ng-container matColumnDef="endDay">
        <th mat-header-cell *matHeaderCellDef translate>End</th>
        <td mat-cell *matCellDef="let event">
          {{event.end.format('MMMM Do YYYY, h:mm')}}
        </td>
      </ng-container>

      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef translate>Day</th>
        <td mat-cell *matCellDef="let event">
          {{event.day}}
        </td>
      </ng-container>

      <ng-container matColumnDef="action-edit" class="action-column">
        <th mat-header-cell *matHeaderCellDef translate>Edit</th>
        <td mat-cell *matCellDef="let event">
          <button mat-button
                  color="primary"
                  translate>
            EDIT
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="action-delete" class="action-column">
        <th mat-header-cell *matHeaderCellDef translate>Delete</th>
        <td mat-cell *matCellDef="let event">
          <button mat-button color="warn" (click)="deleteEvent(event.hash)" stop-propagation translate>DELETE</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let event; columns: displayedColumns;"
          [routerLink]="[event.hash, 'events']">
      </tr>
    </table>
  </div>
</div>
